name: CI Symfony

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      db:
        image: mariadb:10
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: symfony_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    env:
      DATABASE_URL: "mysql://root:root@127.0.0.1:3306/symfony_test"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, intl, pdo_mysql

      - name: Install Composer dependencies
        run: composer install --no-interaction --prefer-dist

      # --- 4. Vérification PHPStan ---
      - name: Run PHPStan
        run: vendor/bin/phpstan analyse -c phpstan.dist.neon --memory-limit=1G

      # --- 5. Vérification PHP CS Fixer ---
      # Dry-run = remonte les erreurs sans modifier les fichiers
      - name: Run PHP CS Fixer (dry-run)
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --verbose

      - name: Lister les tests
        run: ls -R tests

      - name: Create test database and schema
        run: |
          php bin/console doctrine:database:create --env=test --if-not-exists
          php bin/console doctrine:schema:create --env=test

      - name: Load fixtures
        run: php bin/console doctrine:fixtures:load --env=test --no-interaction

      - name: Run Tests
        run: APP_ENV=test vendor/bin/phpunit